<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <connectionStrings>
    <add name="connn" connectionString="Data Source=72.167.142.40; Initial Catalog=db_yerel_secim; User ID=yerelsecim; Password=yerelsecim2013;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="connn" value="Data Source=72.167.142.40; Initial Catalog=db_yerel_secim; User ID=yerelsecim; Password=yerelsecim2013;" />
  </appSettings>

  <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <customErrors mode="On" defaultRedirect="default.aspx"></customErrors>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="tr-TR" uiCulture="tr" fileEncoding="windows-1254" />
    <authentication mode="Forms"></authentication>
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
